<h2>Crear notita</h2>
<form action="/create_new" method="POST" enctype="multipart/form-data">
<p>
  Title:
  <input type="text" name="title" id="title">
</p>
<p>
  Body:
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
</p>
<p>
  Photo: 
  <input type="file" name="photo" id="photo">
</p>

<input type="submit" value="Crear notita">
</form>